body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    margin-top: 0;
}


/* Material Icons */

.material-icons.lightgrey {
    color: grey;
}


/* Custom Container */

.custom-container {
    padding: 0 1.5rem;
    margin: 0 auto;
    max-width: 100%;
    width: 98%;
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    .custom-container {
        width: 98%;
    }
}

@media only screen and (min-width: 993px) {
    .custom-container {
        width: 85%;
    }
}


/* Pagination */

.pagination {
    display: inline-block;
}


/* Card Stuff */

.card {
    overflow: visible !important;
}


/* Profile Card */

#profile-card .card-image {
    height: 150px;
}

#profile-card .card-content p {
    font-size: 1 rem;
    margin: 0 0 0 0;
}

#profile-card .card-profile-image {
    width: 80px;
    position: absolute;
    top: 90px;
    z-index: 1;
    cursor: pointer;
}

#profile-card .btn-move-up {
    position: relative;
    top: -45px;
    right: -18px;
    margin-right: 10px !important;
}


/* Listing Page Header */

#listing-page-header .card-image {
    height: 350px;
}

@media only screen and (max-width: 601px) {
    #listing-page-header .card-image {
        height: 150px;
    }
}

#listing-page-header .card-image img {
    height: 350px;
    object-fit: cover;
    object-position: center;
}

#listing-page-header .card-profile-image {
    width: 110px;
    position: absolute;
    top: 290px;
    z-index: 1;
    left: 40px;
    cursor: pointer;
    margin: 0;
}

@media only screen and (max-width: 601px) {
    #listing-page-header .card-profile-image {
        width: 90px;
        top: 90px;
        left: 15px;
    }
}

@media only screen and (max-width: 1199px) {
    #listing-page-header .card-profile-image {
        left: 15px;
    }
}

#listing-page-header .card-content {
    margin-top: -20px;
    padding-bottom: 5px;
}

@media only screen and (max-width: 601px) {
    #listing-page-header .card-content {
        margin-top: -10px;
        padding-bottom: 5px;
    }
}


/* Listing Details Card */

@media (max-width: 992px) {
    #listing-details {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (min-width: 992px) {
    #listing-details {
        padding-left: 0px;
    }
}


/* Listing Booking Card */

@media (max-width:992px) {
    #listing-booking {
        padding-right: 0px;
        padding-left: 0px;
    }
    #listing-booking-card.pinned,
    #listing-booking-card.pin-bottom {
        position: static !important;
        top: auto !important;
    }
}

@media (min-width:993px) {
    #listing-booking {
        padding-right: 0px;
    }
    #listing-booking-card {
        width: 315px;
    }
}


/** Media CSS **/


/* Mobile Devices <= 600px [s]*/

@media (max-width: 600px) {}


/* Tablet Devices <= 992px [m]*/

@media (max-width: 992px) {}


/* Desktop Devices > 992px [l]*/

@media (min-width: 993px) {}