body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    margin-top: 0;
}

/* Pagination */
.pagination{
    display: inline-block;
}


/* Card Stuff */

.card {
    overflow: visible !important;
}

.card .card-title {
    color: #fff;
    font-size: 20px;
    font-weight: 300; }

.card .card-content .card-title {
    line-height: 38px; }


/* Profile Card */

#profile-card .card-image {
  height: 150px;
}
#profile-card .card-content p {
  font-size: 1 rem;
  margin: 0 0 0 0;
}
#profile-card .card-profile-image {
  width: 80px;
  position: absolute;
  top: 90px;
  z-index: 1;
  cursor: pointer;
}
#profile-card .btn-move-up {
  position: relative;
  top: -45px;
  right: -18px;
  margin-right: 10px !important;
}