body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    margin-top: 0;
}


/* Tabs */
#tabs {
    margin-bottom: 0;
}

/* Card */
.card {
    overflow: visible !important;
}

.card .card-title {
    color: #fff;
    font-size: 20px;
    font-weight: 300; }

.card .card-content .card-title {
    line-height: 38px; }